.clearfix {
	zoom: 1;
}

.clearfix:after{
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0px;
}

div#main {
	margin-right: 21%;
}

div#aside {
	float: right;
	width: 20%;
}
